
body {
    
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.contenedorGeneral {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10em;
    width: 25em;

    background-color: black;
}



.boton {

    height: 6em;
    width: 6em;

    background-color: gold;

    margin : 1em 2em 1em 0em;

    border-radius: 8% 18% 15% 70%;
    transition: 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.boton:hover {
    background-color: goldenrod;

    border-radius: 25%;
    transition: 0.2s;
}

.contenedorGeneral div:first-child:hover{
/*.contenedorGeneral .boton:first-child:hover{*/
    background-color: orangered;

    border-radius: 15%;
}

::selection {
    color: black;
    background-color: rgb(255, 255, 0);
}

.botonFeo {
    all: unset;
}